.dialogContainer {
  background-color: white;

  position: fixed;
  margin: auto 0;
  top: 50%;
  width: 40px;
  right: 15px;
  height: calc(90vh);
  padding: 15px 0;
  transform: translate(0%, -50%);
}
