.home {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.quickLink {
  margin-top: 40px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.home img {
  width: 300px;
  height: auto;

  object-fit: cover;
}

.quickLink a {
  margin-right: 50px;
}

.home h1 {
  color: #ffffff;
  font-size: 96px;
  font-weight: 200;
}

.home h1 strong {
  font-weight: 300;
}

.home h2 {
  color: #3ab8ff;
  font-size: 48px;
  font-weight: 200;
}
