.home {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.container {
  height: 100vh;
}

.arrow {
  position: absolute;
  bottom: 70px;
  left: calc(50vw - 30px);
  cursor: pointer;
}
.circle {
  position: absolute;
}
.circle div {
  width: 25px;
  height: 25px;
  background-color: #3ab8ff;
  border-radius: 50%;
}
.arrow:hover .arrowPath {
  stroke: #2c2c2c;
}

.midArrow {
  animation: moveDownMid 1s forwards infinite;
}
.frontArrow {
  animation: moveDownFront 1s forwards infinite;
}

.backArrow {
  animation: moveDownBack 1s forwards infinite;
}

@keyframes moveDownFront {
  0% {
    transform: translateY(0%);
    opacity: 100%;
  }

  50% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveDownMid {
  from {
    transform: translateY(0%);
    opacity: 100%;
  }

  to {
    transform: translateY(15%);
    opacity: 100%;
  }
}

@keyframes moveDownBack {
  0%,
  40% {
    transform: translateY(-20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}
.quickLink {
  margin-top: 20px;
  color: #e3e3e3;
  font-size: 20px;
  font-weight: 500;
}

.home img {
  width: 300px;
  height: auto;

  object-fit: cover;
  box-shadow: #2c2c2c 15px 15px 0px -3px, #3ab8ff 15px 15px;
}

.quickLink a {
  margin-right: 50px;
}

.icon {
  color: white;
  font-size: 20px;
}
.home h1 {
  color: #ffffff;
  font-size: 75px;
  font-weight: 200;
}

.home h1 strong {
  font-weight: 300;
}

.home h2 {
  color: #3ab8ff;
  font-size: 35px;
  font-weight: 200;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 100px 0 30px;
  }
}

@media (max-width: 1000px) {
  .home h1 {
    font-size: 60px;
  }
  .home h2 {
    font-size: 35px;
  }
  .home img {
    width: 290px;
  }
}

@media (max-width: 825px) {
  .home h1 {
    font-size: 50px;
  }
  .home h2 {
    font-size: 25px;
  }
  .home img {
    width: 250px;
  }
}
@media (max-width: 700px) {
  .container {
    padding: 0;
  }
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 30px;
    margin-right: 70px;
  }
  .home img {
    width: calc(100% - 15px);
  }
  .home h1 {
    font-size: 48px;
  }
  .home h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

@media (max-height: 750px) {
  .arrow {
    bottom: 30px;
  }
}
