.dialogContainer {
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin: auto auto;
  top: 50%;
  width: 900px;
  height: calc(90vh);
  transform: translate(0%, -50%);
  z-index: 2;
  border: none;
}

.closeBtn {
  width: 40px;
  height: 40px;
}
