.project {
  min-height: 100vh;
  background-color: #3ab8ff;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 90px;
}

.project h2 {
  font-size: 64px;
  font-weight: 200;
  color: white;
}

.projectsGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 60px;
}

.projectsGrid div {
  background-color: #2c2c2c;
  height: 270px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectImages {
  max-height: 120px;
  width: 100%;
  margin: 0 25px;
  object-fit: contain;
}

.projectsGrid div h3 {
  margin: 25px 20px 0 20px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: auto;
}
.lastButton {
  margin: 0 20px 25px 20px;
}

.projectInfo button {
  cursor: pointer;
  width: 160px;
  padding: 5px 0;
  font-weight: 300;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  border: 3px solid #3ab8ff;
}

.projectInfo button:hover {
  background-color: #3ab8ff;
}
