.project {
  min-height: 100vh;
  background-color: #3ab8ff;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 90px;
}

.project h2 {
  font-size: 55px;
  font-weight: 200;
  color: white;
}

.projectsGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.projectsCard {
  background-color: #2c2c2c;
  height: 180px;

  border-radius: 10px;
}

.projectImageContainer {
  padding: 0 50px;

  height: 100%;
}
.projectImages {
  width: 100%;
  object-fit: contain;
}

.projectsCard h3 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.projectInfo {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.projectInfo button {
  cursor: pointer;
  width: 125px;
  padding: 2.5px 0;
  font-weight: 300;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: 2px solid #3ab8ff;
}

.projectInfo button:hover {
  background-color: #3ab8ff;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 100px 0 30px;
  }
}

@media (max-width: 1000px) {
  .home h1 {
    font-size: 60px;
  }
  .home h2 {
    font-size: 35px;
  }
  .home img {
    width: 290px;
  }
}

@media (max-width: 575px) {
  .project {
    padding-left: 30px;
    padding-right: 70px;
  }

  .project h2 {
    font-size: 30px;
  }
  .projectsGrid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .projectsCard {
    height: calc(50vw / 16 * 7);
  }
  .projectInfo h3 {
    margin-top: 5px;
    font-size: 10px;
    max-width: calc(50vw - 65px);
  }
  .projectInfo button {
    font-size: 10px;
    padding: 2px 0;
    width: 85px;
  }
}

@media (max-width: 480px) {
  .projectsGrid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .projectsCard {
    height: calc(100vw / 16 * 6.5);
  }
  .projectInfo h3 {
    font-size: 16px;
    margin-top: 5px;
    max-width: calc(100vw - 120px);
  }
  .projectInfo button {
    font-size: 16px;
    width: 125px;
    padding: 2.5px 0;
  }
}

@media (max-width: 400px) {
  .projectInfo h3 {
    font-size: 14px;
  }
  .projectInfo button {
    font-size: 14px;
    padding: 2px 0;
    width: 110px;
  }
  .btnContainer {
    gap: 5px;
    margin-top: 5px;
  }
}
