.project {
  min-height: 100vh;
  background-color: #3ab8ff;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 90px;
}

.project h2 {
  font-size: 64px;
  font-weight: 200;
  color: white;
}

.projectsGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.projectsGrid div {
  background-color: #2c2c2c;
  height: 250px;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectImages {
  max-height: 120px;
  width: 100%;
  display: none;
  object-fit: contain;
}

.projectsGrid div:hover .projectImages {
  display: none;
}

.projectsGrid div:hover {
  flex-direction: column;
  gap: 10px;
}

.projectsGrid div h3 {
  color: white;
  font-weight: 300;
  text-align: center;
}

.projectInfo button {
  width: 135px;
  padding: 5px 0;
  font-weight: 300;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  border: 3px solid #3ab8ff;
}
