.container {
  background-color: #3ab8ff;
  height: calc(60vh - 100px);
  width: 110px;
  border-radius: 55px;
  position: fixed;
  top: 20%;
  right: 30px;

  padding: 50px 0;
}

.linksContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}
.scrollBall {
  position: absolute;
  background-color: #2c2c2c;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  top: 50px;
}
