.container {
  height: 415.27px;

  border: 8px solid black;
  position: relative;
  border-radius: 10px;
}
.outerContainer {
  border: 2px solid grey;
  border-radius: 10px;
}

.img {
  width: 780px;
  position: absolute;
}

.imageOne {
  right: 0%;
  animation: imageOneLoop 5s infinite;
  z-index: -1;
}

.imageTwo {
  right: -100%;
  animation: imageTwoLoop 5s infinite;
}

@keyframes imageTwoLoop {
  0% {
    right: -100;
  }
  25%,
  75% {
    right: 0%;
  }

  100% {
    right: 100%;
  }
}

@keyframes imageOneLoop {
  0%,
  25% {
    right: 100%;
  }
  26%,
  75% {
    right: -100%;
  }
  25.1% {
    right: -100%;
  }

  75%,
  100% {
    right: 0%;
  }
}
