.container {
  border: 2px solid rgb(67, 67, 67);
  border-radius: 10px;
  overflow: hidden;
}

.innerContainer {
  border: 10px solid black;
  border-radius: 10px;
  display: flex;
}
.img {
  width: calc(100% - 40px);
}
