.container {
  height: 415.27px;

  border: 8px solid black;
  position: relative;
  border-radius: 10px;
}
.outerContainer {
  border: 2px solid grey;
  border-radius: 10px;
}

.img {
  width: 780px;
  position: absolute;
}

.imageOne {
  right: -100%;
  animation: startingImage 6s;
  animation-iteration-count: infinite;
  z-index: -1;
}
@keyframes startingImage {
  0%,
  25% {
    right: -100%;
  }
  26% {
    right: 0;
  }
  75% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}

.imageTwo {
  right: -100%;
  animation: imageTwoLoop 12s infinite;
}

@keyframes imageTwoLoop {
  0%,
  25% {
    right: -100%;
  }
  37.5%,
  50% {
    right: 0%;
  }

  62.5%,
  100% {
    right: 100%;
  }
}

.imageThree {
  right: -100%;
  animation: imageThreeLoop 12s infinite;
}

@keyframes imageThreeLoop {
  0%,
  50% {
    right: -100%;
  }

  62.5%,
  100% {
    right: 100%;
  }
}
