.container {
  position: relative;
}

.slide {
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
  padding-top: 50%;
}
.img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

/* .imageOne {
  right: -100%;
  animation: slideShowMove 8s infinite;
  animation-delay: -4s;
}
.imageTwo {
  right: 0%;
  animation: slideShowMove 8s infinite;
}

@keyframes slideShowMove {
  0%,
  37.5% {
    right: -100%;
  }
  50%,
  87.5% {
    right: 0;
  }

  100% {
    right: 100%;
  }
} */
