.container {
  height: 415.27px;

  border: 8px solid black;
  position: relative;
  border-radius: 10px;
}
.outerContainer {
  border: 2px solid grey;
  border-radius: 10px;
}

.img {
  width: 780px;
  position: absolute;
}

.imgCenter {
  right: 0;
  animation: moveCenterOffScreen 5s infinite;
}

.imgMiddle {
  left: 100%;
  animation: moveLeftRight 5s infinite;
}
.imgRight {
  left: 200%;
}

@keyframes moveCenterOffScreen {
  0%,
  70% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}

@keyframes moveToScreen {
  0%,
  70% {
    left: 100%;
  }

  100% {
    left: 0px;
  }
}

@keyframes moveLeftRight {
  0%,
  70% {
    left: 100%;
  }

  100% {
    left: 0px;
  }
}
