.container {
  position: relative;
  width: 780px;
}

.img {
  width: 780px;
  position: absolute;
}

.imgCenter {
  right: 0;
  animation: moveLeftCenter 5s infinite;
}

.imgRight {
  left: 800px;
  animation: moveLeftRight 5s infinite;
}

@keyframes moveLeftCenter {
  0%,
  80% {
    right: 0;
  }

  100% {
    right: 780px;
  }
}
@keyframes moveLeftRight {
  0%,
  80% {
    left: 780px;
  }

  100% {
    left: 0px;
  }
}
