.slideShow {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

/* .imageOne {
  right: -100%;
  animation: slideShowMove 8s infinite;
  animation-delay: -4s;
}
.imageTwo {
  right: 0%;
  animation: slideShowMove 8s infinite;
}

@keyframes slideShowMove {
  0%,
  37.5% {
    right: -100%;
  }
  50%,
  87.5% {
    right: 0;
  }

  100% {
    right: 100%;
  }
} */
